@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #101728;
    color: white;
}

a {
    color: #4E70C2; /*#0000ee*/
    cursor: pointer;
    text-decoration: underline;
}

h1 {
    font-family: 'Poppins', sans-serif;
    margin-left: 4px;
}

.container {
    display: flex;
    width: 100%;
}

.logo {
    height: 42px;
    align-self: end;
}

/*** Painel de informações ***/
.info-panel {
    display: block;
    width: 50%;
    padding: 15px 30px 0px 30px;
    overflow: auto;
}

header {
    display: flex;
    padding-bottom: 15px;
    align-items: center;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 10px;
}

.statistics-panel p {
    margin-bottom: 10px;
}

/*** Tabelas de estatísticas de cobertura ***/
.table-cobertura {
    border: 1px solid darkgrey;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table-cobertura th, .table-cobertura td {
    border: 1px solid darkgrey;
    padding: 0.2em 0.4em;
}

.table-cobertura td {
    text-align: right;
}

.table-cobertura tfoot td {
    font-weight: bold;
}

#claro {
    background-color: rgb(218, 41, 28, 0.7);
}

#tim {
    background-color: rgb(0, 33, 152, 0.7);
}

#vivo {
    background-color: rgb(102, 0, 153, 0.7);
}

/*** Mapa ***/
.map-panel {
    width: 50%;
    background-color: #252b77;
    border-left: 1px solid darkgrey;
}

.map-container {
    position: relative;
    display: flex;
    width: min-content;
    margin: auto;
}

.map-image {
    background-color: #252b77;
}

.municipio-label {
    position: absolute;
    font-size: 12px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transform: translate(0px, -11px);
}

/*** Modals ***/
.modal_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 85%;
    margin: 5vh auto;
    position: relative;
    background-color: #101728;
    padding: 32px;
}

.modal_content {
    height: 100%;
    width: 100%;
}

.modal .close_modal span {
    color: white;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal_overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal_content h2 {
    font-family: 'Poppins', sans-serif;
}

#modal_sobre .modal {
    width: 50%;
    height: 50%;
}

#modal_sobre .modal_content {
    display: block;
    text-align: center;
    align-items: center;
}

#modal_sobre p {
    width: 100%;
}

/*** Cards ***/
.cards {
    max-width: 950px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.cards a {
    color: black;
    text-decoration: none;
}

.card {
    background-color: white;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.card_image img {
    height: 160px;
}

.card_content,.card_info {
    padding: 18px;
}

.card_content {
    font-weight: bold;
    font-size: larger;
}

.card_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card_info p {
    padding: 5px 20px;
}

.card_price {
    font-weight: bold;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}